<section class="inContent">
  <footer class="row" style="row-gap: 16px;">
    <div class="col-12 col-md-3">
      <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
      <p>binarcarrental@gmail.com</p>
      <p>081-233-334-808</p>
    </div>
    <div class="col-12 col-md-3"">
      <ul>
        <li>
          <a href=" /#OurServices">Our Services</a>
      </li>
      <li>
        <a href="/#WhyUs">Why Us</a>
      </li>
      <li>
        <a href="/#Testimonial">Testimonial</a>
      </li>
      <li>
        <a href="/#FAQ">FAQ</a>
      </li>
      </ul>
    </div>
    <div class="col-12 col-md-3">
      <p>Connect with us</p>
      <div>
        <img src="/assets/icon_facebook.svg" alt="facebook" class="col icon32">
        <img src="/assets/icon_instagram.svg" alt="instagram" class="col icon32">
        <img src="/assets/icon_twitter.svg" alt="twitter" class="col icon32">
        <img src="/assets/icon_mail.svg" alt="email" class="col icon32">
        <img src="/assets/icon_twitch.svg" alt="twitch" class="col icon32">
      </div>
    </div>
    <div class="col-12 col-md-3">
      <p>Copyright Binar 2022</p>
      <div class="logo"></div>
    </div>
  </footer>
</section>