<nav class="full bgblue">
  <div class="inContent">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid ">
        <a href="/" class="navbar-brand">
          <div class="logo"></div>
        </a>
        <button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#navbarNavAltMarkup" style="border: 0;"></button>
        <div class="offcanvas offcanvas-end" id="navbarNavAltMarkup">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"><b>BCR</b></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="navbar-nav" style="column-gap: 32px; row-gap: 16px;">
            <a class="nav-link active" href="/#OurServices">Our Services</a>
            <a class="nav-link active" href="/#WhyUs">Why Us</a>
            <a class="nav-link active" href="/#Testimonial">Testimonial</a>
            <a class="nav-link active" href="/#FAQ">FAQ</a>
            <button class="nav-link btnRegister" id="btn">Register</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</nav>