@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
  --blue-main: #0d28a6;
  --blue-secondary: #f1f3ff;
  --green: #5cb85f;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 6.25rem;
}

footer {
  padding-bottom: 60px;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1rem; /*16px*/
}

p {
  font-weight: 300;
  font-size: 0.875rem;
}

h6 {
  font-family: 'Rubik', sans-serif;
  color: #3c3c3c;
  font-size: 0.875rem;
}


.stick{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.fullW{
  width: 100%;
}

.offcanvas {
  width: 360px !important;
  margin-left: 16px;
}

.offcanvas-header {
  margin-top: 16px;
  margin-right: 32px;
}

.navbar-nav {
  justify-content: end;
  margin-left: 16px;
}
.full {
  width: 100%;
  position: relative;
}

.bgblue {
  background-color: var(--blue-secondary);
}

.main {
  max-width: 1440px;
  margin: auto;
}

.testiContainer {
  min-width: 1920px;
}

.inContent {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

.inContentServices {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
  align-items: center;
  row-gap: 32px;
}

.oursImgUp {
  margin: auto;
  width: fit-content;
}

.oursImg {
  width: 70vw;
  max-width: 450px;
}  

.carImage {
  width: 48%;
  z-index: 1;
}

.blueBackground {
  background-color: var(--blue-main);
  position: absolute;
  right: 0%;
  bottom: 0%;
  border-top-left-radius: 60px;
}

.inputCard{
  position: absolute;
  top: 90%;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
  box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.mainText {
  float: right;
  width: fit-content;
  padding-left: 12px;
}

@media only screen and (max-width: 768px) {
  .starTesti {
    margin: auto;
  }

  .testiCard {
    padding: 40px 0px;
    max-width: 90vw;
  }
}

@media only screen and (max-width: 992px) {
  .vw90 {
    width: 90vw;
    height: 30vw;
  }

  .carImage {
    width: 95%;
    margin-left: auto;
    margin-top: 32px;
  }

  .mainText {
    margin-top: 32px;
    float: left;
  }

  .respoText {
    width: fit-content;
    text-align: center;
    margin: auto;
  }

  .ctap {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .img80 {
    margin-bottom: 32px;
  }

  .testiCard {
    width: fit-content;
  }
}

@media only screen and (min-width: 992px) {
  .vw48 {
    width: 48vw;
    height: 55%;
  }

  .ctap {
    padding-bottom: 1rem;
  }

  .testiCard {
    width: fit-content;
    max-width: 640px;
  }
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

ul li p,
.testiCard p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.btnRegister {
  max-width: 90px;
}

.navbar-toggler-icon {
  width: 28px;
}

#btn {
  background-color: var(--green);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  height: fit-content;
}

.ctaBanner {
  background-color: var(--blue-main);
  color: white;
  border-radius: 13px;
  padding: 64px;
  text-align: center;
}

.ctap {
  max-width: 500px;
  margin: auto;
}

.whyUsCard {
  padding: 24px;
  border-radius: 8px;
  height: 100%;
  max-width: 400px;
  margin: auto;
}

.faqCard {
  border: solid;
  border-color: #d4d4d4;
  background-color: white;
  border-width: 1px;
  padding: 18px 24px;
  border-radius: 4px;
  width: 100%;
  text-align: left;
}

.testiCard {
  height: 100%;
  min-height: 270px;
  border-radius: 8px;
  display: flex;
  padding-left: 46px;
  padding-right: 32px;
  align-items: center;
  column-gap: 46px;
}

.starTesti {
  display: flex;
  width: max-content;
  margin-bottom: 8px;
}

.faqCard + .faqCard {
  margin-top: 16px;
}

.icon24 {
  height: 24px;
  align-self: flex-start;
}

select{
  width: 100%;
  border-color: #D0D0D0;
  padding: 9px 12px;
}

.icon32 {
  height: 32px;
  align-self: flex-start;
  margin-bottom: 16px;
  margin-right: 14px;
}

.icon12 {
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.img80 {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.logo {
  height: 34px;
  width: 100px;
  background-color: var(--blue-main);
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 16px;
}
