<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Dashboard Admin - Cars</title>

</head>

<body>
  <!-- Main Content -->
  <div class="d-flex flex-row ">
    <%- include('views/adminSidebarLeft'); %>
    <div class="position-relative flex-fill">
      <%- include('views/adminTopbar'); %>
      <div class="d-flex flex-row position-relative">
        <%- include('views/adminSidebarMid'); %>
        <div class="p-5">
          <h1>Actual Admin Page</h1>
        </div>
      </div>
    </div>
  </div>
</body>

</html>