<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
  <link rel="stylesheet" href="/styles/main.css">
  <title>Binar Car Rental</title>
</head>

<body>
  <!-- Navigation Bar -->
  <%- include('views/navbar'); %>
  
  <!-- Main -->
  <section>
    <div class="full bgblue">
      <div class="main row">
        <div class="col-12 col-lg-6 " style="margin-top: auto; margin-bottom: auto;">
          <div class="mainText ">
            <h1 style="max-width: 568px;">Sewa & Rental Mobil Terbaik di kawasan Bali</h1>
            <p style="max-width: 460px;">Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik
              dengan harga terjangkau. Selalu
              siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
              <a href="/sewa">
                <button id="btn">Mulai Sewa Mobil</button>
              </a>
            </div>
          </div>
          <img class="carImage" src="/assets/mobil.png" alt="">
        </div>
        <div class="blueBackground vw48 "></div>
        <div class="blueBackground vw90"></div>
      </div>
    </section>
    
    <!-- Our Service -->
    <section id="OurServices">
      <div class="inContentServices row">
        <div class="col-12 col-lg-6">
          <div class="oursImgUp">
            <img class="oursImg" src="/assets/img_service.png" alt="Our Services">
          </div>
        </div>
        <div class="col-12 col-lg-6">
        <h2>Best Car Rental for any kind of trip in Bali!</h2>
        <p>Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga lebih murah dibandingkan yang lain, kondisi
          mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis, wedding, meeting, dll.</p>
        <ul>
          <li>
            <img class="icon24" src="/assets/icon_checklist.svg" alt="check">
            <p>Sewa Mobil Dengan Supir di Bali 12 Jam</p>
          </li>
          <li>
            <img class="icon24" src="/assets/icon_checklist.svg" alt="check">
            <p>Sewa Mobil Lepas Kunci di Bali 24 Jam</p>
          </li>
          <li>
            <img class="icon24" src="/assets/icon_checklist.svg" alt="check">
            <p>Sewa Mobil Jangka Panjang Bulanan</p>
          </li>
          <li>
            <img class="icon24" src="/assets/icon_checklist.svg" alt="check">
            <p>Gratis Antar - Jemput Mobil di Bandara</p>
          </li>
          <li>
            <img class="icon24" src="/assets/icon_checklist.svg" alt="check">
            <p>Layanan Airport Transfer / Drop In Out</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Why Us -->
  <section id="WhyUs">
    <div class="inContent">
      <div class="text-center text-lg-start mb-4">
        <h2>Why Us?</h2>
        <p></p>Mengapa harus pilih Binar Car Rental?</p=>
      </div>
      <div class="row" style="row-gap: 16px;">
        <div class="col-12 col-md-3">
          <div class="card whyUsCard col">
            <img class="icon32" src="/assets/icon_complete.svg" alt="complete icon">
            <h3>Mobil Lengkap</h3>
            <p>Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan terawat</p>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card whyUsCard col">
            <img class="icon32" src="/assets/icon_price.svg" alt="complete icon">
            <h3>Harga Murah</h3>
            <p>Harga murah dan bersaing, bisa bandingkan harga kami dengan rental mobil lain</p>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card whyUsCard col">
            <img class="icon32" src="/assets/icon_24hrs.svg" alt="complete icon">
            <h3>Layanan 24 Jam</h3>
            <p>Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga tersedia di akhir minggu</p>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card whyUsCard col">
            <img class="icon32" src="/assets/icon_professional.svg" alt="complete icon">
            <h3>Sopir Profesional</h3>
            <p>Sopir yang profesional, berpengalaman, jujur, ramah dan selalu tepat waktu</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimony -->
  <section id="Testimonial">
    <div style="text-align: center;">
      <h2>Testimonial</h2>
      <p>Berbagai review positif dari para pelanggan kami</p>
      <div class="owl-carousel" style="height: max-content;">
        <div class="testiCard bgblue d-flex flex-column flex-md-row">
          <div>
            <img class="img80"
              src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
              alt="profilepic1">
          </div>
          <div style="text-align: start;">
            <div class="starTesti">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
            </div>
            <p style="max-width: 410px;">If you're considering a car rental in Bali, you should give us a call. Binar
              Car Rental is the most
              reliable and affordable rental service in the area, with a variety of cars to choose from to suit your
              needs.</p>
            <p style="font-weight: 600;">Sebastian Dough</p>
          </div>
        </div>
        <div class="testiCard bgblue d-flex flex-column flex-md-row">
          <div>
            <img class="img80"
              src="https://images.unsplash.com/photo-1584999734482-0361aecad844?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
              alt="profilepic1">
          </div>
          <div style="text-align: start;">
            <div class="starTesti">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
            </div>
            <p style="max-width: 410px;">Don't let the distance stop you from exploring Bali. Rent a car with us and
              enjoy a liberating vacation without worrying about public transport. We have cars in your budget, from
              small to big, to suit your needs. We offer quality cars with competitive rates that are guaranteed to make
              your holiday the best it can be. Valid for both return and one-way rentals.</p>
            <p style="font-weight: 600;">Steve Freeman</p>
          </div>
        </div>
        <div class="testiCard bgblue d-flex flex-column flex-md-row">
          <div>
            <img class="img80"
              src="https://images.unsplash.com/photo-1518577915332-c2a19f149a75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=562&q=80"
              alt="profilepic1">
          </div>
          <div style="text-align: start;">
            <div class="starTesti">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
            </div>
            <p style="max-width: 410px;">You can leave your car rental worries behind. Binar Car Rental takes care of
              every single detail so you can enjoy your vacation. We offer affordable prices, worry-free insurance, and
              flexible terms. You don't have to worry about a thing, because we'll do the worrying for you!</p>
            <p style="font-weight: 600;">Angeline Carla</p>
          </div>
        </div>
        <div class="testiCard bgblue d-flex flex-column flex-md-row">
          <div>
            <img class="img80"
              src="https://images.unsplash.com/photo-1486302913014-862923f5fd48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
              alt="profilepic1">
          </div>
          <div style="text-align: start;">
            <div class="starTesti">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
              <img src="/assets/Star.svg" alt="star">
            </div>
            <p style="max-width: 410px;">Binar Car Rental is known for its excellence and reliability in car rental
              services. The team's dedication and commitment to delivering the best customer experience possible has
              turned Binar into a trusted and reliable option for car rental in Indonesia.</p>
            <p style="font-weight: 600;">Diana Maria</p>
          </div>
        </div>
      </div>
  </section>

  <!-- CTA Banner -->
  <section>
    <div class="inContent">
      <div class="ctaBanner">
        <h1>Sewa Mobil di Bali Sekarang</h1>
        <p class="ctap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua. </p>
          <a href="/sewa">
            <button id="btn">Mulai Sewa Mobil</button>
          </a>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section id="FAQ">
    <div class="inContent row">
      <div class="col-12 col-md-5 text-center text-md-start">
        <h2>Frequently Asked Question</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
      </div>
      <div class="col-12 col-md-7">
        <button class="faqCard d-flex justify-content-between align-middle">
          <p style="margin: 0px;">Apa saja syarat yang dibutuhkan?</p>
          <img class="icon12" src="/assets/faqArrow.svg" alt="more">
        </button>
        <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore officiis itaque
          eius quos voluptatem culpa! Excepturi ipsum, labore quo officiis, suscipit, ut vitae in eius reprehenderit
          earum ab dignissimos!</div>
        <button class="faqCard d-flex justify-content-between align-middle">
          <p style="margin: 0px;">Berapa hari minimal sewa mobil lepas kunci?</p>
          <img class="icon12" src="/assets/faqArrow.svg" alt="more">
        </button>
        <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore officiis itaque
          eius quos voluptatem culpa! Excepturi ipsum, labore quo officiis, suscipit, ut vitae in eius reprehenderit
          earum ab dignissimos!</div>
        <button class="faqCard d-flex justify-content-between align-middle">
          <p style="margin: 0px;">Berapa hari sebelumnya sebaiknya booking sewa mobil?</p>
          <img class="icon12" src="/assets/faqArrow.svg" alt="more">
        </button>
        <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore officiis itaque
          eius quos voluptatem culpa! Excepturi ipsum, labore quo officiis, suscipit, ut vitae in eius reprehenderit
          earum ab dignissimos!</div>
        <button class="faqCard d-flex justify-content-between align-middle">
          <p style="margin: 0px;">Apakah ada biaya antar-jemput?</p>
          <img class="icon12" src="/assets/faqArrow.svg" alt="more">
        </button>
        <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore officiis itaque
          eius quos voluptatem culpa! Excepturi ipsum, labore quo officiis, suscipit, ut vitae in eius reprehenderit
          earum ab dignissimos!</div>
        <button class="faqCard d-flex justify-content-between align-middle">
          <p style="margin: 0px;">Bagaimana jika terjadi kecelakaan?</p>
          <img class="icon12" src="/assets/faqArrow.svg" alt="more">
        </button>
        <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore officiis itaque
          eius quos voluptatem culpa! Excepturi ipsum, labore quo officiis, suscipit, ut vitae in eius reprehenderit
          earum ab dignissimos!</div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('views/footer'); %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>