<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Sewa Mobil</title>
</head>

<body>
  <!-- Navigation Bar -->
  <%- include('views/navbar'); %>

  <!-- Main -->

  <section>
    <div class="full bgblue">
      <div class="main row">
        <div class="col-12 col-lg-6 " style="margin-top: auto; margin-bottom: auto;">
          <div class="mainText ">
            <h1 style="max-width: 568px;">Sewa & Rental Mobil Terbaik di kawasan Bali</h1>
            <p style="max-width: 460px;">Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik
              dengan harga terjangkau. Selalu
              siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
          </div>
        </div>
        <img class="carImage" src="/assets/mobil.png" alt="">
      </div>
      <div class="blueBackground vw48 "></div>
      <div class="blueBackground vw90"></div>

      <!-- Select Car -->
      <div class="inputCard flex mb-10">
        <div class="d-flex pr-4 gap-3">
          <div class="row flex-fill">
            <div class="col">
              <h6>Tipe Driver</h6>
              <select name="driver" id="driver" onchange=getDriver()>
                <option value="" selected disabled hidden>Pilih Driver</option>
                <option value="with">Dengan Sopir</option>
                <option value="without">Tanpa Sopir</option>
              </select>
            </div>
            <div class="col">
              <h6>Tanggal</h6>
              <select name="date" id="date" onchange=getDate()>
                <option value="with">Dengan Sopir</option>
                <option value="without">Tanpa Sopir</option>
              </select>
            </div>
            <div class="col">
              <h6>Waktu Jemput/Ambil</h6>
              <select name="time" id="time" onchange=getTime()>
                <option value="" selected disabled hidden>Pilih Waktu</option>
                <option value="8">08.00 WIB</option>
                <option value="9">09.00 WIB</option>
                <option value="10">10.00 WIB</option>
                <option value="11">11.00 WIB</option>
                <option value="12">12.00 WIB</option>
              </select>
            </div>
            <div class="col">
              <h6>Jumlah Penumpang (Opsional)</h6>
              <input name="count" id="count" placeholder="Jumlah Penumpang" onchange=getCount()>
              </input>
            </div>
          </div>
          <button id="btn" style="margin-top: auto;" onclick=showResult(cars)>Cari Mobil</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Car List -->
  <div id="results" style="min-height: 70px;">
  </div>

  <!-- Footer -->
  <%- include('views/footer'); %>

</body>

<script src="/js/sewa.js"></script>

</html>