@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  p,
  a,
  ul,
  ol,
  li {
    @apply text-base;
  }
  section,
  footer {
    @apply mb-24;
  }
}

@layer utilities {
  .flex-cc {
    @apply flex justify-center items-center;
  }
  .flex-cs {
    @apply flex justify-center items-start;
  }
  .flex-ce {
    @apply flex justify-center items-end;
  }

  .flex-bc {
    @apply flex justify-between items-center;
  }
  .flex-bs {
    @apply flex justify-between items-start;
  }
  .flex-be {
    @apply flex justify-between items-end;
  }

  .flex-sc {
    @apply flex justify-start items-center;
  }
  .flex-ss {
    @apply flex justify-start items-start;
  }
  .flex-se {
    @apply flex justify-start items-end;
  }

  .flex-ec {
    @apply flex justify-end items-center;
  }
  .flex-es {
    @apply flex justify-end items-start;
  }
  .flex-ee {
    @apply flex justify-end items-end;
  }

  .flex-vc {
    @apply flex justify-evenly items-center;
  }
  .flex-vs {
    @apply flex justify-evenly items-start;
  }
  .flex-ve {
    @apply flex justify-evenly items-end;
  }

  .flex-ac {
    @apply flex justify-around items-center;
  }
  .flex-as {
    @apply flex justify-around items-start;
  }
  .flex-ae {
    @apply flex justify-around items-end;
  }

  .full {
    @apply w-full h-full;
  }
  .fullscreen {
    @apply fixed full inset-0;
  }

  .btn {
    @apply bg-GREEN active:bg-GREENdark rounded-sm text-white font-bold py-2 px-3;
  }
  .logo {
    @apply aspect-[3/1] bg-BLUE;
  }

  .col {
    @apply flex flex-col;
  }
}
